$red: #FF0040;
$white: #FFFFFF;
$lightGrey: #F8F8F8;
$grey: #666666;
$lightGrey2: #B5BBC2;
$lightGrey3: #ECECEC;
$lightGrey4: #F6F6F6;
$lightGrey5: #E8E8E8;
$lightGrey6: #BFBFBF;
$lightGrey7: #B9B9B9;
$lightGrey8: #F2F2F2;
$lightGrey9: #B5B5B5;
$lightGrey10: #C4C4C4;
$lightGrey11: #B7B7B7;
$lightGrey12: #CBCBCB;
$dark: #231F20;
$black: #000000;
$blackOpacity: rgba($black, .5);