@import "./_global";

.header {
    background-color: $white;

    &--red {
        background-color: $red;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logout {
        margin-left: 15px;

        &-btn {
            cursor: pointer;
            border-radius: 8.048px;
            border: 2px solid $white;
            padding: 18px 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $red;
            color: $white;
            font-size: 22.207px;
            font-weight: 700;
        }
    }
}

.auth {
    margin: auto 0;

    &__inner {
        display: flex;
        justify-content: center;
    }

    &__login-text-directorate {
        font-size: 9.814px;
        text-align: center;
    }

    &__content {
        width: 313px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-weight: 700;
        font-size: 27px;
        text-align: center;
    }

    &__roles-list {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__role {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-info {
            font-size: 13px;
        }

        &-link {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px;
            color: $dark;
            font-size: 22px;
            font-weight: 700;
            border-radius: 8px;
            border: 0.805px solid $black;
            background-color: $white;
            box-shadow: 0px 3.21919px 3.21919px 0px rgba(0, 0, 0, 0.25);
            transition: box-shadow, color, background-color .3s;

            &:hover {
                color: $white;
                background-color: $red;
                border-color: transparent;
                box-shadow: none;
            }
        }
    }
}

.footer {
    background: $lightGrey;
    margin-top: auto;

    &__inner {
        height: 100%;
    }

    &__info-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 80px;
    }

    &__info {

        &-item,
        &-link {
            color: $blackOpacity;
        }

        &-link {
            text-decoration: underline;
        }
    }
}

.student-info {
    display: flex;
    gap: 22px;

    &__sublist {
        display: flex;
        flex-direction: column;
    }

    &__list {
        display: flex;
        flex-direction: column;
        // max-height: 600px;
        // flex-wrap: wrap;
        gap: 15px;

        &-item {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            font-size: 23.188px;

            &-name {
                font-weight: 600;
            }
        }
    }

    &__title {
        font-size: 31px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.questionnaire-form {
    .custom-radio__target {
        font-size: 30px;
    }

    .form {
        &__field:not(:last-child) {
            margin-bottom: 60px;
        }

        &__label {
            font-size: 31px;
            font-weight: 600;
            margin-bottom: 25px;
        }

        &__textarea {
            resize: vertical;
            min-height: 142.059px;
        }

        &__input {
            border: none;
            background: $lightGrey8;
            font-size: 30px;
            color: $black;
            font-weight: 400;
        }
    }
}

.search {
    .form__submit {
        margin: 0;
    }

    &__input {
        height: 55px;
    }

    &__block {
        display: flex;
        align-items: center;
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr .3fr;
        align-items: center;
        gap: 25px;
    }

    .form__submit {
        margin-left: 22px;
    }
}

.text-directorate {
    color: $grey;
    font-weight: 600;
}

.filters {
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 600;

    &__head {
        background-color: $white;
        border-radius: 7.721px;
        border: 1px solid $black;
        z-index: 9999;

        &-btn {
            padding: 17px 19px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            border: none;
            cursor: pointer;
            width: 100%;
            font-size: 22.39px;
            font-weight: 600;

            &-text {
                display: inline-block;
                margin-right: 60px;
            }
        }
    }

    &__body {
        background-color: $lightGrey3;
        padding: 25px 20px;
        position: absolute;
        top: 55px;
        z-index: 999;
        width: 100%;
        max-height: 350px;
        overflow: auto;
    }
}

.custom-checkbox {
    cursor: pointer;

    &[data-custom-checkbox-type=checkmark] {
        display: flex;
        justify-content: center;
        align-items: center;

        .custom-checkbox__target {
            width: 17px;
            height: 17px;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
        }

        .form__checkbox:checked+.custom-checkbox__target>.custom-checkbox__icon {
            opacity: 1;
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
    }
}

.custom-radio {
    cursor: pointer;

    &[data-custom-radio-type=box] {
        .custom-radio__target {
            border-radius: 10px;
            background-color: $lightGrey8;
            padding: 8px 19px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form__radio:checked+.custom-radio__target {
            background-color: $lightGrey9;
        }
    }

    &[data-custom-radio-type=line] {
        .custom-radio__target {
            display: inline-block;
            border-bottom: 2px solid transparent;
            padding-bottom: 2px;
        }

        .form__radio:checked+.custom-radio__target {
            border-color: $red;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;

    &__checkbox,
    &__radio {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-title {
            font-size: 14.04px;
            font-weight: 600;
        }
    }

    &__select {
        height: 40.07px;
        border-radius: 10px;
        background: $lightGrey3;
        cursor: pointer;
        border: none;
        font-family: "Proxima Nova Rg";
        padding: 10px 12px;

        &--white {
            background-color: $white;
        }

        &-option {
            font-family: "Proxima Nova Rg";
            font-size: 19px;
            background-color: $lightGrey4;

            &:hover {
                background-color: $lightGrey5;
            }
        }
    }

    &__field {
        display: flex;
        flex-direction: column;

        &-title {
            margin-right: 15px;
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &--row {
            flex-direction: row;
            align-items: center;
        }

        &-content {
            display: flex;
            flex-direction: column;

            &--row {
                flex-direction: row;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }

    &__input {
        width: 100%;
        border-radius: 8.165px;
        border: 0.701px solid $black;
        padding: 17px 16px;
        color: $lightGrey2;
        font-size: 17.525px;
        font-weight: 600;
    }

    &__submit {
        margin: 15px auto 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8.165px;
        padding: 19px 83px;
        border: none;
        color: $white;
        background-color: $red;
        font-weight: 700;
        font-size: 17px;
    }
}

.students-list {
    display: flex;
    flex-direction: column;
}

.student {
    background-color: $lightGrey3;

    &:nth-child(even) {
        background-color: $white;
    }

    &__link {
        color: $black;
        display: block;
        padding: 17px 32px;
        font-size: 26px;
        font-family: "Inter";
    }
}

.navbar {
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        &-link {
            font-size: 23.101px;
            color: $black;
            font-weight: 600;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -8px;
                width: 100%;
                height: 2px;
                background-color: $red;
                left: 0;
                opacity: 0;
            }

            &--active::after {
                opacity: 1;
            }
        }
    }
}

.radios {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 23px;

    &--column {
        flex-direction: column;
        align-items: flex-start;
    }
}

.table {
    width: 100%;
    border: 1px solid $lightGrey7;
    border-collapse: collapse;

    &--grey {
        .table {
            &__head {
                &-th {
                    background-color: $lightGrey8;
                    border: 1px solid $lightGrey2;
                    padding: 37px 72px;
                    font-size: 29.73px;
                    font-weight: 700;
                }
            }
        }
    }

    &__cell {
        &--center {
            text-align: center;
        }

        &--grey {
            background-color: $lightGrey8;
        }
    }

    &__head {

        &-th {
            font-size: 21.36px;
            font-weight: 600;
            padding: 8px 35px;
            border-bottom: 1px solid $lightGrey7;

            &:not(:last-child) {
                border-right: 1px solid $lightGrey7;
            }
        }
    }

    &__body {
        &-tr:not(:last-child) td {
            border-bottom: 1px solid $lightGrey7;
        }

        &-td {
            font-size: 17.533px;
            font-weight: 600;
            padding: 10px 8px;

            &:not(:last-child) {
                border-right: 1px solid $lightGrey7;
            }
        }
    }
}

.btn {
    &--view-all {
        color: $black;
        border-radius: 10px;
        border: 1px solid $black;
        padding: 10px 31px;
        background-color: $white;
        cursor: pointer;
    }
}

.section {
    &:last-child {
        margin-bottom: 90px;
    }

    &:not(:last-child) {
        margin-bottom: 125px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 57px;
        font-weight: 600;

        &--middle {
            font-size: 39px;
        }
    }

    &__main {
        margin-top: 50px;
    }
}

.documents-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px 50px;
}

.document-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__link {
        color: #000;
        font-size: 17.883px;
        text-decoration: underline;
    }
}

.selections {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.selections-item {
    display: flex;
    align-items: center;

    &__name {
        display: inline-block;
        margin-right: 50px;
        font-size: 25px;
    }
}

.events-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.event-card {
    &__header {
        border-radius: 10px 10px 0px 0px;
        background: $red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px;
    }

    &__main {
        border-right: 1px solid $black;
        border-bottom: 1px solid $black;
        border-left: 1px solid $black;
        border-radius: 0 0 10px 10px;
        padding: 13px 20px;
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__address {
        font-size: 12px;
        font-weight: 600;
    }

    &__title {
        color: $white;
        font-size: 27px;
        font-weight: 700;
        margin-right: 10px;
    }

    &__date {
        color: $white;
        font-size: 20px;
        font-weight: 700;
    }
}

.check-block {
    display: flex;
    align-items: center;

    &__text {
        margin-right: 30px;
        font-size: 29px;
        font-weight: 600;
    }

    .custom-checkbox[data-custom-checkbox-type=checkmark] .custom-checkbox__target {
        width: 30px;
        height: 30px;
    }
}

.custom-select {
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 400;

    &--white {
        .custom-select {
            &__btn {
                background-color: $white;
            }
        }
    }

    &--small {
        .custom-select {

            &__title,
            &__option {
                font-size: 9.747px;
                font-weight: 600;
                color: $lightGrey11;
            }
        }
    }

    &__head {
        z-index: 999;
    }

    &__title {
        font-size: 19px;
        display: inline-block;
        margin-right: 10px;
    }

    &__btn {
        width: 100%;
        cursor: pointer;
        padding: 10px 12px;
        border-radius: 10px;
        background-color: $lightGrey3;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__main {
        position: absolute;
        width: 100%;
        max-height: 230px;
        top: 85%;
        left: 0;
        border-radius: 0px 0px 10px 10px;
        background: $lightGrey4;
        padding: 14px 0;
        z-index: 99;
    }

    &__options {
        display: flex;
        flex-direction: column;
    }

    &__option {
        padding: 10px 12px;
        font-size: 19px;
        cursor: pointer;

        &--active {
            background-color: $lightGrey5;
        }
    }
}

[data-tab-target] {
    & [data-tab-icon] {
        transform: rotateX(-180deg);
        transition: transform .3s;
    }

    &.collapsed {
        & [data-tab-icon] {
            transform: rotateX(0deg);
        }
    }
}

[data-tab-body] {
    display: none;

    &.show {
        display: block;
    }
}